@import '../../../shared/vars.scss';

form {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 1rem;

  div {
    display: flex;
    flex-direction: column;

    label {
      font-size: 1.4rem;
      font-weight: 500;
      transform: translateX(.4rem);
    }
    input {
      padding: .5rem .8rem;
      border-radius: 2rem;
      border: 1px solid $gray-color;
    }
  }
}